apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: neo4j-logs
  namespace: soa-app
  labels:
    app: neo4j
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 50Mi
