apiVersion: v1
kind: Service
metadata:
  name: neo4j
  namespace: soa-app
  labels:
    app: neo4j
spec:
  type: ClusterIP
  ports:
    - name: http
      port: 7474
      targetPort: 7474
    - name: bolt
      port: 7687
      targetPort: 7687
  selector:
    io.kompose.service: neo4j
